################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.ipch
*.suo
*.db
*.opendb
*.user
*.filters
*.tlog
*.idb
*.log
*.obj
*.pdb
*.ilk
*.exe
*.ipdb
*.iobj
*.db-shm
*.db-wal
